<div class="center-div">
  <a
    title="open github"
    target="_blank"
    href="https://github.com/SarathPSWoolworths/Srt-Voice-to-Text-POC"
  >
    <img class="icon" alt="github" src="github.svg"
  /></a>
  <h1>Voice to Text</h1>
  <select class="select-field" #langVal (change)="setLang(langVal.value)">
    <option value="en-AU">English (Australia)</option>
    <option selected value="en-IN">English (India)</option>
    <option value="en-US">English (USA)</option>
  </select>
  <button
    class="transparent"
    (click)="isStillRecoginze ? stopService() : startService()"
  >
    <img
      [class]="isStillRecoginze ? 'icon pulse-ring' : 'icon'"
      alt="mic"
      [src]="isStillRecoginze ? 'close-mic.svg' : 'open-mic.svg'"
    />
  </button>
</div>

<textarea
  class="input-text-area"
  placeholder="Text Area"
  [value]="service.text"
></textarea>

@for (staus of service.status; track staus) {
<div class="center-div">{{ staus }}</div>
}
