button.transparent {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.input-icons {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  padding: 10px;

  width: 28px;
  text-align: center;
}

.input-field {
  padding: 10px;
  font-size: 32px;
  text-align: center;
  height: 30px;
  width: 50vw;
}

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
}
