<br />
<div class="center-div">
  <a
    title="open github"
    target="_blank"
    href="https://github.com/SarathPSWoolworths/Srt-Voice-to-Text-POC"
  >
    <img class="icon" alt="github" src="github.svg"
  /></a>
  <h3>Voice to Text</h3>
  <select class="select-field" #langVal (change)="setLang(langVal.value)">
    <option value="en-AU">English (Australia)</option>
    <option selected value="en-IN">English (India)</option>
    <option value="en-US">English (USA)</option>
  </select>
</div>
<div class="mic-area">
  <textarea
    class="input-text-area"
    placeholder="Text Area"
    [value]="service.text"
  ></textarea>
  <div class="click-here-area">
    @if(!isStillRecoginze){
    <span class="text-strong">start recording</span>
    } @else {
    <span class="text-strong">stop recording</span>
    }
    <img alt="click here" class="icon-arrow" src="arrow.svg" />
    <button
      class="transparent-mic-button"
      (click)="isStillRecoginze ? stopService() : startService()"
    >
      <img
        [class]="isStillRecoginze ? 'pulse-ring' : 'no-pulse-ring'"
        alt="mic"
        [src]="isStillRecoginze ? 'close-mic.svg' : 'open-mic.svg'"
      />
    </button>
  </div>
</div>
@for (staus of service.status; track staus) {
<div class="center-div">{{ staus }}</div>
}
