<div class="center-div">
  <h1>SRT 'Voice to Text' POC</h1>
  <a
    title="open github"
    target="_blank"
    href="https://github.com/SarathPSWoolworths/Srt-Voice-to-Text-POC"
  >
    <img class="icon" alt="github" src="github.svg"
  /></a>
</div>

<div class="input-icons">
  <input class="input-field" type="text" [value]="service.text" />
  <button
    class="transparent"
    (click)="isStillRecoginze ? stopService() : startService()"
  >
    <img
      class="icon"
      alt="mic"
      [src]="isStillRecoginze ? 'close-mic.svg' : 'open-mic.svg'"
    />
  </button>
</div>

@for (staus of service.status; track staus) {
<div class="center-div">{{ staus }}</div>
}
